version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      time: '14:00'
    open-pull-requests-limit: 20
    groups:
      minor-and-patch:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
    cooldown:
      default-days: 7
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: '14:00'
    cooldown:
      default-days: 7
