name: Lint
on:
  push:
  pull_request:
  schedule:
    - cron: '3 0 * * SUN'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: yarn install
      - run: yarn lint
      - run: yarn prettier:ci
