name: Lint
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '3 0 * * SUN'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Check that package-lock.json is valid JSON
        run: jq empty package-lock.json
      - name: Install npm packages
        run: npm ci
      - name: Run eslint
        run: npm run lint
      - name: Run prettier
        run: npm run prettier:ci
