name: Run tests
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '3 2 * * SUN'
permissions: {}
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [18, 20, 22]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.version }}
      - run: npm ci
      - run: npm test --coverage
      - run: npm run build
      - run: npm run build:docs
      - run: npm link
      - run: npm ci
        working-directory: e2e/js
      - run: npm link '@maxmind/geoip2-node'
        working-directory: e2e/js
      - run: npx jest
        working-directory: e2e/js
      - run: npm ci
        working-directory: e2e/ts
      - run: npm link '@maxmind/geoip2-node'
        working-directory: e2e/ts
      - run: npx jest
        working-directory: e2e/ts
