name: Run tests
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '3 2 * * SUN'
permissions: {}
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [18, 20, 22]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
      - run: npm ci
      - run: npm test --coverage
      - run: npm run build
      - run: npm run build:docs
      - run: npm link
      - run: npm ci
        working-directory: e2e/js
      - run: npm link '@maxmind/geoip2-node'
        working-directory: e2e/js
      - run: npx jest
        working-directory: e2e/js
      - run: npm ci
        working-directory: e2e/ts
      - run: npm link '@maxmind/geoip2-node'
        working-directory: e2e/ts
      - run: npx jest
        working-directory: e2e/ts
